.header {
    position:sticky;
    top: 0;
    z-index: 2;
    min-height: 0px !important;
    width: 100% !important;
   
    border-bottom: 2px solid var(--background-hover-lighter-extra);
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-lighter);
  }


  .mainDiv {
    width: 100%;
    max-width: 1155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.5s;
  }

  

  .imageDiv {
    margin-left: 20px;
    margin-right: 10px;
    /* height: 50px;
    width: 100px; */
    cursor: pointer;
  }

  .iconImage {
    height: 80px;
    width: 130px;
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    cursor: pointer;
    font-size: 14px;
    margin: 0px 20px;
    font-weight: 600;
    color: var(--text-primary-lighter-extra);
    text-transform: capitalize;
  }

  .button:hover {
    color: var(--text-primary-second);
  }

  .darkModeDiv {
    cursor: pointer;
    font-size: 14px;
    margin: 0px 20px;
    font-weight: 600;
    color: var(--text-primary-lighter-extra);
    background-color: transparent;
    text-transform: capitalize;
    border-radius: 100px;
    padding: 8px;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  .darkModeDiv:hover {
    background-color: var(--background-hover-lighter);
  }


  

  .SearchDivContainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 630px;
    width: 100%;
    /* background-color: red; */
    pointer-events: none;
    cursor: default;

    /* background-color: red; */
  }

  .searchDiv {
    padding-block: 10px;
    padding-inline: 20px;
    background-color: var(--background);
    border-radius: 8px;
    align-items: center;
    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    pointer-events: auto;
    /* cursor: text; */
    /* transition-duration: 8s; */
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
    /* width: 590px; */ 
    }


  .searchIcon {
    font-size: 20px;
    color: var(--text-tertiary);
    margin-right: 10px;
    cursor: default;
    opacity: 0.5;
    
  }

  input {
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    cursor: pointer;
    /* z-index: -1; */
  }

  input::placeholder {
    color: var(--text-tertiary);
    opacity: 0.5;
  }

  .test {
    position: relative;
    z-index: 5;
  }







@media (max-width: 1023px) {

  .mainDiv {
    width: 100%;
    max-width: 768px;
    
  }

}



/* Mobile styles */

@media (max-width: 520px) {

 
  .SearchDivContainer {
    /* background-color: red; */
    padding: 0;
  }

  .iconImage {
    height: 70px;
    width: 90px;
  }

  .darkModeDiv {
    /* background-color: red; */
    margin-right: 5px;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    font-size: 25px;
  }

  input {
    font-size: 14px;
    /* z-index: -1; */
  }

}


@media (max-width: 340px) {

 
  .SearchDivContainer {
    /* background-color: red; */
    padding: 0;
  }

  .iconImage {
    height: 50px;
    width: 70px;
  }

  .darkModeDiv {
    /* background-color: red; */
    margin-right: 5px;
    margin-left: 5px;
    width: 22px;
    height: 22px;
    font-size: 22px;
  }

  input {
    font-size: 13px;
  }

}




















.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 26px;
  
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburgerLines {
  display: block;
  height: 26px;
  width: 32px;
  margin-right: 15px;

  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.line1 {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
  transition: transform 0.2s ease-in-out;
}

.line3 {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}





.header input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.header input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
  transform: rotate(45deg);
}

.header input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
  transform: scaleY(0);
}

.header input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
  transform: rotate(-45deg);
}

.header input[type="checkbox"]:checked ~ .logo{
  display: none;
}
