.App {
  /* text-align: center;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto; */
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: #0096df;
  cursor: pointer;
  pointer-events: auto;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  scroll-behavior: smooth; 
  /* color: var(--text-primary-second) */
}

.App-body {
  position:relative;
  background-color: var(--background-lighter);
  z-index: 0;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--background);
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.default_icon {
  color: var(--background);
  font-size: 25px;
}

.icon {
  color: var(--text-primary-lighter);
}
.icon:hover {
  color: var(--text-primary-second)
}

.copyButtonDiv {
  display: flex;
  /* color: var(--text-primary-second); */
  color: white;
  background-color: transparent;
  font-size: 30px;
  size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

.copyButtonDiv:hover {
  background-color: rgba(255,255,255, 0.2);
}

.copyButtonDiv:active {
  background-color: rgba(255,255,255, 0.4);
}



#notificationDiv {
  position: fixed;
  display: flex;
  background: #000e29;
  bottom: -100px;
  z-index: 10;
  width: 100%;
  height: 50px;
  /* background-color: red; */
  justify-content:flex-start;
  align-items: center;
  color: var(--background);
  padding: 10px 20px;
  transition-duration: 0.5s;
  /* background-color: red; */
}




.code-snippet-box {
  background-color: rgb(36, 39, 43);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

code {
  /* font-family: 'Courier New', monospace; */
  color: rgb(255, 255, 255);
  font-weight: 550;
  font-size: 13px;
  line-height: 22px;

  
  
  /* font-weight: bold; */


}


.code-comment {
  color: rgba(255,255,255,0.5);
}

.code-type {
  color: rgba(92, 157, 255, 0.945)
}

.code-decleration {
  color: rgba(255, 73, 128, 0.945)
}
.code-variable {
  color: rgb(255, 255, 255);
}

.code-parentheses {
  color: rgb(255, 255, 255);
}

.code-function {
  color:rgb(166, 34, 255);
}
.code-builtin-function {
  color:rgb(172, 92, 226);
}
.code-class-name {
  color: rgb(209, 162, 253)
}

.code-string {
  color: rgb(250, 144, 4);
}
.code-number {
  color: rgb(238, 238, 131);
}
.code-property {
  color: rgb(194, 233, 136)
}








::-webkit-scrollbar {
  background-color:transparent;
  width: 0px;
} 


::-webkit-scrollbar {
  background-color: transparent;
  cursor: pointer;
  width: 0px;
 
} 
::-webkit-scrollbar-track {
  background: transparent; 
  background-color: transparent;
  width: 0px;
}

/* :hover::-webkit-scrollbar-thumb {
    color: white;
   background-color: white;
} */


.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 