.App {
  /* text-align: center;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto; */
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: #0096df;
  cursor: pointer;
  pointer-events: auto;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  scroll-behavior: smooth; 
}



.App-body {
  position:relative;
  background-color: white;
  z-index: 0;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
